.react-datepicker-header {
  .__month-picker {
    padding: .5rem 0;

    button {
      cursor: pointer;
      width: 100%;
      padding: .5rem;
      line-height: 1.5rem;
      border: none;
      background: none;
      font-weight: 900;
      border-radius: 4px;

      &:hover {
        background: rgb(240, 240, 240);
      }
    }

    &__prev, &__next {
      display: inline-block;
      width: 15%;
    }
    &__view {
      display: inline-block;
      width: calc(70% - 1rem);
      padding: 0 .5rem;

      button {
        font-size: 1rem;
      }
    }
  }
}
